@page "/expetisgame"

<PageTitle>Expeti's Game</PageTitle>

<h1>Expeti's Game</h1>

<p>
	This is a simple two player game where players take turns guessing a random number between 0 and 9. 
	The game will choose the target number and keep track of players guesses, until one player guesses the target number.
	Players can not make the same guess twice, and the game will continue one player guesses the target correctly. 
</p>



@code {

}
