@page "/"

<PageTitle>Home</PageTitle>

<h1>Simple C-Sharp Games</h1>

<p>
This application is a collection of simple games that I created first as console applications utilizing the c# language.
</p>

<p>
Each page is a contains a different set of logic and rules with directions on how to play that specific game at the top.  
</p>

<p>
	I created these games while completing the C Sharp Player's Guide Course and afterwards wanted to share my creations with the world. 
</p>


<p>
	Hope you enjoy playing them as muc as I did making them. 
</p>